<a href="https://colab.research.google.com/github/anj521404/BTE320-Projects/blob/main/Notes_03_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionaries contain - key column, value column; see example below
#dictionaries are composite objects, and mutable -- they have no order --
#nothing about slicing or indexing - keys must be used to get individual values from dictionaries;
#syntax similar to indexing but instead of index we have key -- which can be of any immutable type
#dictionaries dont have indexes - they have keys
#since there is no indexing, to access values in dictionaries you have to use keys
#dictionaries are composite collection of items -- every item is given by a key - value format. Key has to be immutable, value can take any type - mutable or immutable



grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90,
}

grades['Bob']

88

In [ ]:
#to add to dictionary, give the name of the dictionary, then put the key in []and assign it using = to a value
#example below

grades['Michael']=95
grades

#this added michael as a key and 95 as the value to the original dictionary
#the assignment expression is two fold. One way is to create a new value pair as seen above but if key is already in the dictionary, the assignment will update the value already given in the dictionary
#see example below
grades['Alice']=95
grades

#this changes Alices grade from 91 to 95 -- so this functionality can be used in both ways
#keys in a dictionary are unique - they can not be repeated --- if you ever see a dictionary with two of the same keys, thats not a dictionary - it is an error or something else
#the other property is that keys have to be of immutable type - ex spring, integers, numbers, floats, booleans, and tuples are valid types of keys in dictionarie --- therefore, lists can't be keys

{'Alice': 95, 'Bob': 88, 'Tracy': 93, 'Erik': 90, 'Michael': 95}

In [ ]:
#how to remove a key value pair in dictionary
#use the key word del and then space and name the dictionary and give it the key that you want to delete and the key-value pair will be deleted
del grades['Michael']
grades

#del grades['Michael']== del (grades['Michael]) --- they are both correct, you can use either

{'Alice': 95, 'Bob': 88, 'Tracy': 93, 'Erik': 90}

In [ ]:
#dictionaries come with their own methods
#the three that are mostly used are a method to create a list of all the keys in dictionaries,
#methods in dictionaries follow the same .(...) syntax

#this method returns a list of all the keys in a dictionary - method keys
grades.keys()

#this method returns a list of all the values in a dictionary - method values
grades.values()

#this method returns a list of all the items in a dictionary - method items
grades.items()

dict_items([('Alice', 95), ('Bob', 88), ('Tracy', 93), ('Erik', 90)])

In [ ]:
grades.keys()

dict_keys(['Alice', 'Bob', 'Tracy', 'Erik'])

In [ ]:
grades.values()

dict_values([95, 88, 93, 90])

In [ ]:
#we can iterate over the created lists to get all the keys / individual keys, values, or items

for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [ ]:
#method items will not be on the midterms
grades.items()
#this returns a list of tuples -- the first item is a key and the second item is a value

dict_items([('Alice', 95), ('Bob', 88), ('Tracy', 93), ('Erik', 90)])

In [ ]:
for items in grades.items():
  print(items)

('Alice', 95)
('Bob', 88)
('Tracy', 93)
('Erik', 90)

In [ ]:
for keys, values in grades.items():
  print(keys, values)

Alice 95
Bob 88
Tracy 93
Erik 90