<a href="https://colab.research.google.com/github/anj521404/BTE320-Projects/blob/main/Notes_02_27_and_02_29_Lists_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# L = [1,2,3] ==> pure lists because they contain items of the same type, in this case, integers

In [ ]:
L = [1,"two",3.0,print,[5,7,9]]
#a list can take any object. Functions are also objects so they can be stored on a list
len(L)

5

In [ ]:
L[2]
#indexing on lists works exactly the same way as it does on strings
L[:3]
#this will create a sublist with the first 3 items in the list that correspond to the index 0,1,2
L[3:]
#this will create a sublist using the list starting at index 3, and until the end of the list -- in this case the sublist will entail "function" print and the list [5,7,9]

[<function print>, [5, 7, 9]]

In [ ]:
L + ['three',9.99,0]

[1, 'two', 3.0, <function print>, [5, 7, 9], 'three', 9.99, 0]

In [ ]:
s ='two'
s[2]='b'
#this will give an error message because you can not change characters from a string in python -- string can not be modified / mutalble
#however, lists are mutable and can be changed - which is another reason why they are very popular

TypeError: 'str' object does not support item assignment

In [ ]:
L[3]="b"
L

[1, 'two', 3.0, 'b', [5, 7, 9]]

In [ ]:
for index in range(len(L)):
  print(L[index])

1
two
3.0
b
[5, 7, 9]

In [ ]:
#everything that works for strings, works for lists - except the fact that lists are mutuble and strings are not
#lists are also know as 1-dimensional arrays
  #that is because they have mutliple columns and a single row

In [ ]:
for element in L:
  print(element)

1
two
3.0
b
[5, 7, 9]

In [ ]:
L = [
  [1,2,4],
  [3,5,6],
  [7,8,9]
]
print(L)

[[1, 2, 4], [3, 5, 6], [7, 8, 9]]

In [ ]:
#how to create multidimensional arrays
L_outer=[[1,2,3],[4,5,6]]
l = L_outer[1]
print(l)
l[0]=7
print(l)
print(L_outer)
L_outer[1]=l
print(L_outer)
#learn how to do this

[4, 5, 6]
[7, 5, 6]
[[1, 2, 3], [7, 5, 6]]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
#go over the .format and f' method of printing string list, etc.
#the syntax used is object of variable "obj.method(....)"(...)= any input that a variable may take.

In [ ]:
L

[[1, 2, 4], [3, 5, 6], [7, 8, 9]]

In [ ]:
s = "three"
L.append(s)
L

[[1, 2, 4], [3, 5, 6], [7, 8, 9], 'three']

In [ ]:
s = ["three, 9.99, 0"]
L.append(s)
L

[[1, 2, 4], [3, 5, 6], [7, 8, 9], 'three', ['three, 9.99, 0']]

In [ ]:
L=[1, 'two', 3.0, print, [5,7,9]]
print(len(L))
s=["three", 9.99,0]
L.extend(s)
print(L)
print(len(L))

5
[1, 'two', 3.0, <built-in function print>, [5, 7, 9], 'three', 9.99, 0]
8

In [ ]:
L[4][1]

7

In [ ]:
print(L)
L.pop()

[1, 'two', 3.0, <built-in function print>, [5, 7, 9], 'three', 9.99, 0]

0

In [ ]:
# we started over for 02/29
L = [1, 'two', 3.0, print, [5,7,9]]
len(L)

5

In [ ]:
L.append(['three', 4])
L

[1, 'two', 3.0, <function print>, [5, 7, 9], ['three', 4]]

In [ ]:
L.extend([3,4])
L

[1, 'two', 3.0, <function print>, [5, 7, 9], ['three', 4], 3, 4]

In [ ]:
L.pop()
L

[1, 'two', 3.0, <function print>, [5, 7, 9], ['three', 4], 3]

In [ ]:
numbers = [5,7,0,3,1,6,]
numbers.sort(reverse=True)
numbers

[7, 6, 5, 3, 1, 0]

In [ ]:
#Class Activity -- interations and lists
#ask user to enter an input and
N = []
userinput = int(input('Enter an integer value: '))
while userinput != 0:
  N.append(userinput)
  userinput = int(input('Enter a value: '))
print(N)

Enter a value: 9
Enter a value: 9
Enter a value: 8
Enter a value: 7
Enter a value: 0
[9, 9, 8, 7]

In [ ]:
a = "123789"
while x in a:
    print(x, end=" ")

NameError: name 'x' is not defined

In [ ]:
number = 5
while number <= 5:
    if number < 5:
        number = number + 1
print(number)

In [ ]:
#other way to do this

A = []
userinput = int(input('Enter a value:'))
while True:
  if userinput !=0:
    A.append(userinput)
  userinput = int(input('Enter a value:'))

  if userinput ==0:
    break

  print(A)

Enter a value:7
Enter a value:8
[7]
Enter a value:5
[7, 8]
Enter a value:4
[7, 8, 5]
Enter a value:0

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1:
  if item in l2:
    l1.remove(item)
l1

[2, 3, 4]

In [ ]:
x = 5
ans = 0
num_iterations = 0
while num_iterations < x:
  ans = ans + x
  num_iterations = num_iterations + 1
print(f'{x}*{x} = {ans}')

5*5 = 25

In [ ]:
s = 'This is a string'
print(s[15], s[len(s) - 1], s[-1])

g g g

In [ ]:
num = 30000000
fraction = 1/2
print(num*fraction, 'is', fraction*100, '%', 'of', num)
print(num*fraction, 'is', str(fraction*100) + '%', 'of', num)
print(int(num*fraction), 'is', str(fraction*100) + '%', 'of', num)
# print with f-strings
print(f'{int(num*fraction)} is {fraction*100}% of {num}')
# print with f-strings and control modifiers. Comma modifier instructs Python to use commas on thousands
print(f'{num*fraction:,.0f} is {fraction*100}% of {num:,}')

15000000.0 is 50.0 % of 30000000
15000000.0 is 50.0% of 30000000
15000000 is 50.0% of 30000000
15000000 is 50.0% of 30000000
15,000,000 is 50.0% of 30,000,000